#legend {
  font-family: Arial, sans-serif;
  background: #fff;
  padding: 10px;
  margin: 10px;
  border: 3px solid #000;
}
#legend h3 {
  margin-top: 0;
}
#legend img {
  vertical-align: middle;
}
#map {
  width: 100%;
  height: 600px;
  background-color: grey;
}
.spacing-buttons {
  margin-top: 10px;
}
.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px;
}
.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}
.jumbotron .btn-primary:hover {
  background: #7646c1;
}
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em;
}
.jumbotron h1 {
  font-size: 40px;
}
.navbar + .jumbotron {
  margin-top: -20px;
}
.jumbotron .lang-logo {
  display: block;
  background: #B01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}
.jumbotron .lang-logo img {
  max-width: 100%;
}
