{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1>Covering Matrix Plotter</h1>
    <span>Plot covering matrix topology on google maps using a topology description json file</span>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How to use this tool?</h3>
      <ul>
        <li>Load your json topology file.</li>
        <li>That's it. You can load your finished topology too.
      </ul>
      <div>
        <label class="control-label">Select File</label>
        <input id="input-1" name="input1[]" type="file" class="file file-loading" data-allowed-file-extensions='["json"]' data-show-preview="false" data-show-upload="false">
      </div>
    </div>
    <div class="col-md-12">
      <h3><span class="glyphicon glyphicon-link"></span> Topology Loaded </h3>
      <div>

        PUT A MAP HERE!

      </div>
      <script>
        $("#input-1").on('fileloaded', function(event, file, previewId, index, reader) {
          console.log('File loaded triggered');
          console.log('Topology File Loaded');
          console.log(reader);

          window.test = reader;

        });
      </script>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    This is an work in progress project, be advised that it may contains bugs or small errors. Thanks for your understanding!
  </div>
</div>

{% endblock %}
